.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;

    .searchBar {
      padding: 8px;
      width: 200px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    .userSectionDesktop{
        display: flex;
        width: 170px;
        justify-content: space-between;
    }
    .iconsDropdown {
      position: relative;

      .iconToggle {
        cursor: pointer;
        padding: 5px;
      }

     
    }
  }
  .userDropdownMobile{
    display: none;
  }
  @media (max-width: 768px) {
  
    .topbar {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .userSectionDesktop {
        display: none;
      }
    }
    .searchBar{
        margin-left: 70px;
        margin-top: 10px;    
    }
 
  
    .userDropdownMobile {
      display: block;
      align-self: flex-end;
      margin-right: 20px;

      .dropdownMenu {
        display: none;
        position: absolute;
        width: 130px;
        font-size: 14px;
        margin-top: 10px;
        margin-right: 20px;        
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        z-index: 20;

        span {
          display: block;
          padding: 10px;
          cursor: pointer;

          &:hover {
            background: #f5f5f5;
          }
        }
      }

      &.open .dropdownMenu {
        display: block;
      }
    }
    .userDropdownMobile:hover{
        cursor: pointer;
    }
  }

  @media (max-width: 480px) {
    .mainContent .cards {
      grid-template-columns: 1fr;
    }

    .topbar .searchBar {
      width: 100%;
    }
  }